// LCARS Develop

mygray = #2357

body
	background linear-gradient(45deg, mygray 25%, transparent 25%),
	 linear-gradient(-45deg, mygray 25%, transparent 25%),
	 linear-gradient(45deg, transparent 75%, mygray 75%),
	 linear-gradient(-45deg, transparent 75%, mygray 75%)
	background-size 0.5rem 0.5rem
	background-position:0 0, 0.25rem 0, 0.25rem -0.25rem, 0 -0.25rem;

@import 'lcars_variables'
@import 'lcars_colors'
@import 'lcars_fonts'
@import 'lcars_body'
@import 'lcars_container'
@import 'lcars_layout'
@import 'lcars_elbow'
@import 'lcars_bar'
@import 'lcars_element'
@import 'lcars_bracket'
@import 'lcars_grid'
@import 'lcars_anchor'
@import 'lcars_inputs'
