// LCARS Anchor Tag Hyperlinks

a 
  text-decoration: none
  display: inline

a:link
  color: colors.golden-tanoi
  font-weight: 400

a:visited
  color: colors.golden-tanoi
  font-weight: normal

a:focus
  color: colors.golden-tanoi
  background-color: #080602
  font-weight: 400

a:hover
  color: colors.golden-tanoi
  background-color: #090703
  font-weight: 400

a:active
  color: colors.pale-canary
  font-weight: 500
  background-color: #0C0806

