// LCARS variables

// Globals

prefix = 'lcars-'


to_em(multiplier)
  unit(multiplier/base-font-size, rem)

// Sizes

// abstract unit, everything is related to the base spacing, which is defined as quarter of font
base-font-size = 4

base-spacing = to_em(1)
double-spacing = base-spacing * 2

base-height = to_em(12)
half-height = base-height/2
base-width = to_em(30)
half-width = base-width/2

bar-height = half-height
elbow-radius-size = half-width
elbow-column-spacing = elbow-radius-size/2 + base-spacing/2

// Grid base
grid-base = 12

// Fonts

// Even this primary default is specified here since some html elements delieberately disrespect inheritance (though they can be overridden)
primary-font-family = "Arial",monospace
