// LCARS Grid System

.{prefix}row
  display inline-flex
  flex-direction row
  width 100%

  &.fill
    flex 1

  &.centered
    justify-content center

  &.full-centered
    justify-content center
    align-items center

  &.right
    justify-content flex-end

  &.right-centered
    justify-content flex-end
    align-items center

  &.right-bottom
    justify-content flex-end
    align-items flex-end

  :last-child
    margin-right 0

  > *
    margin-right base-spacing

.{prefix}column
  display inline-flex
  flex-direction column

  &.fill
    flex 1

  &.centered
    justify-content center

  &.full-centered
    justify-content center
    align-items center

  &.centered-right
    justify-content center
    align-items flex-end

  &.bottom
    justify-content flex-end

  &.bottom-centered
    justify-content flex-end
    align-items center

  :last-child
    margin-bottom 0

  > *
    margin-bottom base-spacing

  &.left-menu
    padding-right elbow-column-spacing

  &.right-menu
    padding-left elbow-column-spacing

  &.start-space
    margin-top base-spacing
