// LCARS Grid System

// Creates a % based grid provided a base number
build-sizes-classes(max-x, max-y)
  for x in 1..max-x
    for y in 1..max-y
      .{prefix}u-{x}-{y}
        width ( base-width * x + base-spacing * (x - 1) )
        min-width ( base-width * x + base-spacing * (x - 1) )
        height ( base-height * y + base-spacing * (y - 1) )
        min-height ( base-height * y + base-spacing * (y - 1) )

build-sizes-classes(16, 8)

// Creates a % based grid provided a base number
build-height-classes(max-y)
  for y in 1..max-y
    .{prefix}vu-{y}
      height ( base-height * y + base-spacing * (y - 1) )

build-height-classes(16)

// Creates a % based grid provided a base number
build-width-classes(max-x)
  for x in 1..max-x
    .{prefix}u-{x}
      width ( base-width * x + base-spacing * (x - 1) )
      &.half
        width @width - half-width - (base-spacing/2)

build-width-classes(16)
