// LCARS Baseline Body and Document-level Defaults

/* First make the default (and therefore including window) scrollbar unobtrusive and more LCARS-like*/
::-webkit-scrollbar
  width: 1em

::-webkit-scrollbar-track 
  background-color:black

::-webkit-scrollbar-thumb
  background-color: dimgrey
  outline: 1px solid dimgrey


body
  background-color black

