// LCARS - Inputs

// Text based inputs first

textarea, input
  font-size 1em
  font-family primary-font-family
  color white
  border none
  background-color transparent

input.{prefix}text-input
  height 1rem
  padding 0
  margin 0
  border none

textarea.lcars-text-box, textarea.lcars-text-input
  text-align  justify
  padding  0
  padding-right  1em
  margin 0
  border-top none
  border-bottom none
  border-left none
  border-right none  /*.2rem solid dimgray*/
  color white
  /* just the resizer now */
  background  url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB2aWV3Qm94PSI3NC4zMzcgMS4wODQgNjAuMzM0IDU5LjY5IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOmJ4PSJodHRwczovL2JveHktc3ZnLmNvbSI+DQogIDxkZWZzPjwvZGVmcz4NCiAgPHBhdGggc3R5bGU9ImZpbGw6IHJnYigyMTYsIDIxNiwgMjE2KTsgc3Ryb2tlOiByZ2IoMCwgMCwgMCk7IiBkPSJNIDMxOC40MTggMTA4LjMwMSI+PC9wYXRoPg0KICA8Zz4NCiAgICA8cGF0aCBzdHlsZT0ic3Ryb2tlOiByZ2IoMCwgMCwgMCk7IGZpbGw6IHJnYigyMTAsIDE4MCwgNzEpOyIgZD0iTSA3NC42NzYgMS44OTQgTCAxMzQuNjcgMS44OTQgTCAxMzQuMzQ3IDQzLjkgQyAxMzQuMjQ5IDUxLjUyOSAxMjUuNDYzIDU5LjQ5OCAxMTYuODIyIDU5LjYzNSBMIDc1LjMxNSA1OS41MDUgTCA3NC42NzYgMS44OTQgWiI+PC9wYXRoPg0KICAgIDxwYXRoIGQ9Ik0gOTguNDcgMS4wODQgSCAxMTAuNTM3IFYgMjQuOTU5IEggMTM0LjY3MSBWIDM2Ljg5OCBIIDExMC41MzcgViA2MC43NzQgSCA5OC40NyBWIDM2Ljg5OCBIIDc0LjMzNyBWIDI0Ljk1OSBIIDk4LjQ3IFoiIHN0eWxlPSIiIGJ4OnNoYXBlPSJjcm9zcyA3NC4zMzcgMS4wODQgNjAuMzM0IDU5LjY5IDExLjkzOSAxMi4wNjcgMC41IDFAN2FkZTc1ZjUiPjwvcGF0aD4NCiAgPC9nPg0KPC9zdmc+")  no-repeat rgba(0,0,0,0) 99.9% 100%
  background-size  16px

  //Decorated modifier subclass, but just for inputs
textarea.lcars-text-box.decorated, textarea.lcars-text-input.decorated, textarea.decorated
  caret-color white
  border-left   .2rem solid dimgray
  padding-left  .5rem
  padding-right .5rem
  border-right  .2rem solid dimgray

for colorName, colorValue in colors
  textarea.lcars-text-box.{prefix}{colorName}-color, textarea.lcars-text-input.{prefix}{colorName}-color, textarea.{prefix}{colorName}-color
    caret-color colorValue

  input.decorated.{prefix}{colorName}-color, textarea.lcars-text-box.decorated.{prefix}{colorName}-color, textarea.{prefix}{colorName}-color, textarea.lcars-text-input.decorated.{prefix}{colorName}-color
    border-left   .2rem solid colorValue
    padding-left  .5rem
    padding-right .5rem
    border-right  .2rem solid colorValue

// Range inputs (a.k.a. "sliders")
// credit for a nice pure CSS solution + supplements:  
//   https://stackoverflow.com/questions/18389224/how-to-style-html5-range-input-to-have-different-color-before-and-after-slider
//   https://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html
/*
Chrome: Hide the overflow from input[range], and fill all the space left to thumb with shadow color.
IE: no need to reinvent the wheel: ::-ms-fill-lower
Firefox no need to reinvent the wheel: ::-moz-range-progress
*/

//First a default spec

////Chrome
@media screen and (-webkit-min-device-pixel-ratio:0)
  input[type='range']
    overflow hidden
    width 80px
    -webkit-appearance none
    background-color transparent
    
  input[type='range']::-webkit-slider-runnable-track 
    height 1em
    -webkit-appearance none
    color default-color
    margin-top -1px
    
  input[type='range']::-webkit-slider-thumb 
    width 1em
    -webkit-appearance none
    height 1em
    cursor ew-resize
    background default-color
    box-shadow -80px 0 0 80px default-color
    

////Firefox
input[type="range"]  //obviously, this actually affects everyone, but was only needed for firefox...
  margin-bottom -.2em 

input[type="range"]::-moz-range-progress
  background-color default-color
  height 100%

input[type="range"]::-moz-range-track
  background-color transparent

input[type="range"]::-moz-range-thumb
    border none
    height 100%
    width 1em
    border-radius 0%
    background-color default-color


////IE
input[type="range"]::-ms-fill-lower
  background-color default-color

input[type="range"]::-ms-fill-upper
  background-color default-color


//Again for each canonical color:

////Chrome
for colorName, colorValue in colors
  @media screen and (-webkit-min-device-pixel-ratio:0)
    input[type='range'].{prefix}{colorName}-color::-webkit-slider-runnable-track 
      -webkit-appearance none
      color colorValue
      margin-top -1px
      
    input[type='range'].{prefix}{colorName}-color::-webkit-slider-thumb 
      -webkit-appearance none
      background colorValue
      box-shadow -80px 0 0 80px colorValue
      
  
  ////Firefox
  input[type="range"].{prefix}{colorName}-color::-moz-range-progress
    background-color colorValue
  
  input[type="range"].{prefix}{colorName}-color::-moz-range-track
    background-color transparent
  
  input[type="range"].{prefix}{colorName}-color::-moz-range-thumb
    border none
    border-radius 0%
    background-color colorValue

  ////IE
  input[type="range"].{prefix}{colorName}-color::-ms-fill-lower
    background-color colorValue
  
  input[type="range"].{prefix}{colorName}-color::-ms-fill-upper
    background-color colorValue

  //Some special cases 
  .lcars-element-addition > input[type="range"]  //obviously, this actually affects everyone, but was only needed for firefox...
    height 30%  //This is very likely to be font-family choice sensitive. TODO revisit some way to do some calcs or warnings or something.
