// LCARS Grid System

.{prefix}row
  width 100%
  padding 0
  *zoom 1
  clearfix()
  &.spaced
    margin-bottom base-spacing

.{prefix}column
  display block
  float left
  width 100%

// Build out the grid classes
// change base number in lcars_variables
build-grid(grid-base)
