// LCARS Layout (Menus, Dividers, Elbows)

.{prefix}container
  background black
  padding container-padding
  size 100% 100%

// Side Menu
menu-height = base-height

.{prefix}menu,
ol.{prefix}menu,
ul.{prefix}menu
  margin-right menu-column-spacing
  &.left
    margin-right @margin-right
    margin-left 0
  &.right
    margin-left @margin-right
    margin-right 0
  & li
    display inline-block
    vertical-align top
    color black
    font-weight bold
    size 100% menu-height
    padding base-spacing
    margin-bottom base-spacing
    &.large-gap
      margin-bottom base-spacing*2
    &.tall
      height menu-height*3
    & a
      display block
      text-decoration none
      color inherit

/*
LCARS Dividers and Elbows
*/

lcars-orange = colors.orange
lcars-blue = colors.blue
far-spacer = divider-pattern-size - base-spacing
near-color-size = divider-pattern-size / 4
far-color-size = near-color-size + base-spacing

.{prefix}divider
  padding-top base-height + base-spacing
  border-right base-spacing solid black
  background-repeat repeat-x
  background-size divider-pattern-size base-height
  background-image linear-gradient(90deg, transparent far-spacer, black far-spacer), linear-gradient(90deg, lcars-blue near-color-size, transparent near-color-size), linear-gradient(90deg, transparent far-color-size, lcars-orange far-color-size)
  &.bottom
    padding-bottom @padding-top
    padding-top 0
    background-position bottom left
    min-height base-height*4

// Color combo clases
create-divider-colors(colors)

.{prefix}elbow
  position relative
  width 100%
  height base-height*4
  min-height @height
  background white
  & a
    display inline-block
    margin-top @height - base-spacing
    padding base-spacing
  &:after
    content ''
    display block
    position absolute
    size menu-column-spacing base-height*3
    background black
  &.left.bottom
    border-radius top left elbow-radius-size
    &:after
      absolute bottom right
      border-radius top left elbow-radius-size/2
  &.left.top
    border-radius bottom left elbow-radius-size
    & a
      display inline-block
      margin-top 0
      padding base-spacing
    &:after
      absolute top right
      border-radius bottom left elbow-radius-size/2
  &.right.bottom
    border-radius top right elbow-radius-size
    &:after
      absolute bottom left
      border-radius top right elbow-radius-size/2
    & a
      display inline-block
      margin-top @height - base-spacing
      margin-left menu-column-spacing
      padding base-spacing
  &.right.top
    border-radius bottom right elbow-radius-size
    & a
      display inline-block
      margin-top 0
      margin-left menu-column-spacing
      padding base-spacing
    &:after
      absolute top left
      border-radius bottom right elbow-radius-size/2
