// using nib's reset

global-reset()

html, body {
  font-family sans-serif
  color #000
}

*,
*:before,
*:after
  box-sizing border-box

a,
a:link,
a:visited,
a:hover
  color black
  text-decoration none
  font-weight bold