// LCARS global functions

// Creates a % based grid provided a base number
build-grid(baseNum)
  for i in 1..baseNum
    base = i
    for k in 1..base
      num = k
      .{prefix}column.u-{num}-{base}
        width ( (100/base) * num )%


// Creates dynamic color classes
create-colors(prop, suffix, colors)
  for c, v in colors
    .{prefix}{c}-{suffix}
      {prop} v

// Defines border radius sides for the LCARS buttons
create-sides(sides)
  for side in sides
    .{prefix}button.{side}
      border-radius side radius-size
