// LCARS variables

// Globals

prefix = 'lcars-'
container-padding = 1.5%

// Fonts
base-font-size = 1em
// base-spacing = 5px

// sizes
base-spacing = 0.2em
base-height = 2em
base-width = 5em

// Colors
colors = {
  orange: #FF9900,
  grayBlue: #9999CC,
  salmon: #CC6666,
  tan: #FFCC88,
  blue: #9999FF,
  peach: #FF9966,
  purple: #CC6699,
  pink: #CC99CC,
  white: #FFFFFF,
  red: #FF5555
}

// Colors Modern
colors-modern = {
  gray: #2379,
  white: #CCDDFF,
  light-blue: #5599FF,
  blue: #3366FF,
  bright-blue: #0011EE,
  dark-blue: #000088,
  yellow: #BBAA55,
  orange: #BB4411,
  red: #882211
}

default-color = colors.orange

menu-column-spacing = 1.5em
divider-pattern-size = 50em
// divider-elbow-width = 200px

// Default button radius size
// radius-size = 20px
elbow-radius-size = base-width
button-padding--tb = base-spacing
button-padding--lr = base-spacing

// Grid base
// grid-base = 24
grid-base = 12
