// LCARS variables

// Globals

prefix = 'lcars-'

// Fonts

base-font-size = 14px

// Colors
colors = {
  orange: #FF9900,
  grayBlue: #9999CC,
  salmon: #CC6666,
  tan: #FFCC88,
  blue: #9999FF,
  peach: #FF9966,
  purple: #CC6699,
  pink: #CC99CC
}

default-color = colors.orange

// Default button radius size
radius-size = 20px
button-padding--tb = 10px
button-padding--lr = 15px

// Grid base
// grid-base = 24
grid-base = 12
