// LCARS utility functions

// LCARS colors (background-color)
create-colors('background-color', 'bg', colors)

// LCARS colors (font color)
create-colors('color', 'color', colors)

.right
  float: right

.left
  float: left