// using nib's reset

global-reset()

html, body {
  font-size base-font-size
  font-family sans-serif
  color white
}

*,
*:before,
*:after
  box-sizing border-box

a,
a:link,
a:visited,
a:hover
  color black
  text-decoration none
  font-weight bold
