// LCARS layout and grid systems

.{prefix}container
  background black
  padding container-padding
  width 100%
  height 100%

// Side Menu
menu-height = 25px
menu-spacing = 5px

.{prefix}menu,
ol.{prefix}menu,
ul.{prefix}menu
  margin-right 1em
  &.right
    margin-right @margin-right
  &.left
    margin-left 1em
  & li
    display inline-block
    vertical-align top
    color black
    font-weight bold
    width 100%
    padding 5px
    margin-bottom menu-spacing
    height menu-height
    &.large-gap
      margin-bottom menu-spacing*3
    &.tall
      height menu-height*3
    & a
      display block
      text-decoration none
      color inherit
      &:hover
        text-decoration underline

