// LCARS utility functions

// LCARS colors (background-color)
create-colors('background-color', 'bg', colors)

// LCARS colors (font color)
create-colors('color', 'color', colors)

// LCARS colors modern (background-color)
create-colors('background-color', 'bg-modern', colors)

// LCARS colors modern (font color)
create-colors('color', 'color-modern', colors-modern)

.right
  float: right

.left
  float: left
