// LCARS variables

// Globals

prefix = 'lcars-'
container-padding = 1.5%

// Fonts
base-font-size = 14px
base-spacing = 5px

// Colors
colors = {
  orange: #FF9900,
  grayBlue: #9999CC,
  salmon: #CC6666,
  tan: #FFCC88,
  blue: #9999FF,
  peach: #FF9966,
  purple: #CC6699,
  pink: #CC99CC,
  white: #FFFFFF,
  red: #FF5555
}

default-color = colors.orange

menu-column-spacing = 1.5em
divider-height = 20px
divider-pattern-size = 500px
divider-elbow-width = 200px

// Default button radius size
radius-size = 20px
button-padding--tb = 10px
button-padding--lr = 15px

// Grid base
// grid-base = 24
grid-base = 12
